<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, blanditiis vero nesciunt dolores adipisci voluptates eligendi repudiandae repellendus similique necessitatibus, reprehenderit repellat iusto impedit nihil itaque voluptatem molestias sint sed.
    Laborum facere aperiam cupiditate tempore earum repellat aspernatur eligendi voluptatibus corrupti ab est, corporis porro perspiciatis! Voluptate aliquid neque quisquam aspernatur cupiditate necessitatibus mollitia atque error, veniam, tenetur, rem dicta?
    Inventore animi cupiditate quibusdam, harum, sint totam nobis asperiores officiis numquam sed consequatur minima repudiandae molestias enim sapiente sequi doloremque sit eius. Corrupti veritatis ea, sint similique impedit doloribus laudantium.</p>
</body>
</html>