<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% if(palavra !== undefined) { %>
        <h1>O inverso de '<%= palavra %>' é '<%= palavraInvertida %>'</h1>
        
        <% if (palavra.toLowerCase() === palavraInvertida.toLowerCase()) { %> 
            <h2>A palavra '<%= palavra %>' é um palíndromo! </h2>
        <% } %>

    <% } else { %> 
        <p>Por favor, digite a query string 'q'.</p>
    <% } %>
</body>
</html>